.root{
    -fx-font-family: "Arial";
    -fx-text-background-color: #1A1A1A;
    -light_green_color: #DEEDE7;
    -light_blue_color: #73BFF9;
    -light_red_color: #F19B91;
    -light_gray_color: #D3D3D3;
    -gray_color: #929292;
    -green_color: #64B594;
}

.blue-button {
 -fx-background-color: -light_blue_color;
 -fx-text-fill: #FFFFFF;
 -fx-background-radius: 10;
}
.blue-button:hover {
 -fx-background-color: derive(-light_blue_color, -10%);
}
.blue-button:pressed {
 -fx-background-color: derive(-light_blue_color, -20%);
}

.red-button {
 -fx-background-color: -light_red_color;
 -fx-text-fill: #FFFFFF;
 -fx-background-radius: 10;
}
.red-button:hover {
 -fx-background-color: derive(-light_red_color, -10%);
}
.red-button:pressed {
 -fx-background-color: derive(-light_red_color, -20%);
}

.light-gray-button {
 -fx-background-color: -light_gray_color;
 -fx-background-radius: 10;
}
.light-gray-button:hover {
 -fx-background-color: derive(-light_gray_color, -10%);
}
.light-gray-button:pressed {
 -fx-background-color: derive(-light_gray_color, -20%);
}

.gray-button {
 -fx-background-color:  -gray_color;
 -fx-text-fill: #FFFFFF;
 -fx-background-radius: 10;
}
.gray-button:hover {
 -fx-background-color: derive(-gray_color, -10%);
}
.gray-button:pressed {
 -fx-background-color: derive(-gray_color, -20%);
}

.green-button {
 -fx-background-color:  -green_color;
 -fx-text-fill: #FFFFFF;
 -fx-background-radius: 10;
}
.green-button:hover {
 -fx-background-color: derive(-green_color, -10%);
}
.green-button:pressed {
 -fx-background-color: derive(-green_color, -20%);
}

.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}

.card {
    -fx-background-color:  -light_green_color;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, grey, 5, 0, 0.0, 1.0);
}

.card:hover {
    -fx-background-color:  derive(-light_green_color, -10.0%);
}

.card:pressed {
    -fx-background-color:  derive(-light_green_color, -20.0%);
}
.list-view{
    -fx-padding :0px;
}
.list-cell{
    -fx-padding: 6px;
    -fx-background-insets: 0px, 2px;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}